.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    max-width: 100%;
    padding: 0.75rem 0;
    margin-bottom: 0.25rem;
}

.track h3 {
    margin-bottom: 0.45rem;
    word-wrap: break-word;
}

.track p {
    font-size: 0.8rem;
}

.track-info {
    width: 85%;
}

.track-button {
    border: transparent;
    background-color: transparent;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.25rem;
}

.track-button:hover {
    border: 1px solid #fff;
}