.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    width: 15rem;
    padding: 0.5rem;
}

.track-button {
    border: transparent;
    background-color: transparent;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
}

.track-button:hover {
    border: 1px solid black;
}