.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    max-width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.25rem;
}

.track-button {
    border: transparent;
    background-color: transparent;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    color: #fff;
}

.track-button:hover {
    border: 1px solid #fff;
}