.create-edit {
    padding: 0.75rem;
}

hr {
    margin: 0;
}

#title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 1.75rem;
}

#title:focus {
    border: none;
    outline: none;
}

#save-button {
    font-weight: bold;
    background-color: #18A315;
    height: 1.75rem;
    width: 6rem;
    border-radius: 3rem;
    border: transparent;
    margin-top: 0.75rem;
}

#save-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #save-button {
        height: 2rem;
        width: 8rem;
    }
}