form {
    text-align: center;
    margin-top: 10rem;
}

#search-input {
    width: 25%;
    min-width: 15rem;
    height: 1.5rem;
    border-radius: 3rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid silver;
    outline: none;
}

#search-input:focus {
    outline: none;
    border: 1px solid #000;
}

#search {
    font-size: inherit;
    height: 1.95rem;
    width: 4.5rem;
    border-radius: 2rem;
    border: transparent;
    box-shadow: 0.1rem 0.1rem 0.2rem #203320;
    background-color: #2D15A3;
    color: #fff;
}

#search:hover {
    cursor: pointer;
}

#search:active {
    box-shadow: 0 0 white;
    transform: translateX(0.15rem) translateY(0.2rem);
}

@media only screen and (max-width: 768px) {
    #search-input {
        width: 35%;
    }
}